@-webkit-keyframes up-down {
  0%,
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  50% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}

@keyframes up-down {
  0%,
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  50% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: "Open Sans";
  font-size: 1rem;
  line-height: 1.4;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (max-width: 47.9375em) {
  .hide-for-phone {
    display: none;
  }
}

@media (min-width: 48em) {
  .show-above-phone {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.scene,
canvas {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -5;
}

.header {
  width: 100%;
  padding: 0rem 1.625rem;
  z-index: 999;
  position: relative;
  background-color: #fefefe;
}

@media (min-width: 48em) {
  .header {
    padding: 1rem 2.625rem;
  }
}

@media (min-width: 75em) {
  .header {
    padding: 0.6rem 8vw;
  }
}

.header img {
  width: 50px;
}

.header__title {
  font-size: 1.0625rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #fefefe;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0;
}

@media (max-width: 23.375em) {
  .header__title {
    font-size: 1rem;
  }
}

.header__title.change__color {
  color: #fefefe;
}

.header__hamburger {
  width: 1.875rem;
  height: 1rem;
  position: relative;
}

.header__hamburger__lines {
  height: 2px;
  background-color: #000000;
  position: absolute;
  z-index: 999;
  right: 0%;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: -0.5px center;
          transform-origin: -0.5px center;
}

.header__hamburger__lines.open {
  background-color: #fefefe;
  -webkit-transform-origin: -1.5px center;
          transform-origin: -1.5px center;
}

.header__hamburger__lines:nth-child(1).open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__hamburger__lines:nth-child(1), .header__hamburger__lines:nth-child(3) {
  width: 1.5rem;
}

.header__hamburger__lines:nth-child(1).open, .header__hamburger__lines:nth-child(3).open {
  height: 2px;
  width: 1.25rem;
}

.header__hamburger__lines:nth-child(2) {
  top: 50%;
  width: 1.5rem;
}

.header__hamburger__lines:nth-child(2).open {
  opacity: 0;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}

.header__hamburger__lines:nth-child(3) {
  top: 100%;
}

.header__hamburger__lines:nth-child(3).open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__mobile__menu {
  padding: 8rem 0 1.625rem;
  background-color: #0c1820;
  color: #fefefe;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  right: -100%;
  top: 0%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 23.375em) {
  .header__mobile__menu {
    padding: 6.75rem 0 1.625rem;
  }
}

@media (min-width: 48em) {
  .header__mobile__menu {
    padding: 12rem 0 2.625rem;
  }
}

.header__mobile__menu.open__overlay {
  right: 0%;
}

.header__mobile__menu__links {
  padding: 0 1.625rem;
}

@media (min-width: 48em) {
  .header__mobile__menu__links {
    padding: 0 2.625rem;
  }
}

.header__mobile__menu__links__topics h5 {
  font-size: 0.9375rem;
  margin-right: 1.875rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: 400;
  color: #2cb28d;
}

@media (max-width: 23.375em) {
  .header__mobile__menu__links__topics h5 {
    margin: 0.75rem 1.875rem 0.75rem 0;
  }
}

.header__mobile__menu__links__topics h3 {
  font-weight: 500;
  font-size: 1.25rem;
}

@media (max-width: 23.375em) {
  .header__mobile__menu__links__topics h3 {
    font-size: 1.125rem;
    margin: 0.75rem 0;
  }
}

.header__mobile__menu__extra {
  position: absolute;
  bottom: 10%;
  width: 100%;
}

.header__mobile__menu__extra__socials__line {
  width: 42px;
  height: 2px;
  border: none;
  background-color: #2cb28d;
  margin-right: 1.875rem;
}

.header__mobile__menu__extra__socials h3 {
  font-size: 1.0625rem;
  font-weight: 500;
}

@media (max-width: 23.375em) {
  .header__mobile__menu__extra__socials h3 {
    font-size: 0.9375rem;
  }
}

.header__mobile__menu__extra__socials h3:first-of-type {
  margin-right: 1.875rem;
}

.header__mobile__menu__extra__policy p {
  margin: 2.125rem 0;
  font-family: "Open Sans";
  font-size: 0.8125rem;
  color: #d8d8d8;
}

@media (max-width: 23.375em) {
  .header__mobile__menu__extra__policy p {
    margin: 1.875rem 0;
  }
}

.header__desktop {
  width: 100%;
}

.header__desktop__links {
  cursor: pointer;
}

.header__desktop__links h3 {
  font-weight: 500;
  font-size: 1.125rem;
  font-family: "Open Sans";
  color: #000000;
  border-right: 1px solid rgba(254, 254, 254, 0.75);
  padding: 0 3rem;
}

.header__desktop__links h3:hover {
  color: #432cb2;
}

.header__desktop__links h3#no_border {
  border-right: none !important;
}

@media (min-width: 75em) {
  .header__desktop__links h3#no_border {
    padding-right: 0;
  }
}

@media (max-width: 23.375em) {
  .header__desktop__links h3 {
    font-size: 1.125rem;
    margin: 0.75rem 0;
  }
}

@media (min-width: 64em) {
  .header__desktop__links h3 {
    margin: 0 1.5rem;
    font-size: 0.9375rem;
    padding: 0;
  }
}

@media (min-width: 75em) {
  .header__desktop__links h3 {
    margin: 0 2rem;
  }
}

@keyframes up-down {
  0%,
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  50% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}

footer {
  padding: 2rem;
  background-color: #0c1820;
  text-align: center;
}

footer p {
  color: #fefefe;
  font-family: "IBM Plex Sans";
  margin: 0 0 1.125rem;
}

footer p a {
  color: #fefefe;
}

@media (min-width: 48em) {
  footer p {
    font-size: 1.0625rem;
  }
}

footer small {
  color: rgba(254, 254, 254, 0.5);
}

@media (min-width: 48em) {
  footer small {
    padding: 1rem 1.25rem 0;
    font-size: 0.9375rem;
  }
}

@media (min-width: 75em) {
  footer small {
    padding: 0;
  }
}

.subtitle {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 4rem;
  padding-bottom: 1rem;
  font-weight: 600;
  font-size: 1.375rem;
  font-family: "IBM Plex Sans";
  text-shadow: 2px 2px 4px rgba(12, 24, 32, 0.2);
}

.subtitle::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0%;
  background-color: #0c1820;
  height: 2.5px;
  width: 36px;
  -webkit-box-shadow: 2px 2px 4px rgba(12, 24, 32, 0.2);
          box-shadow: 2px 2px 4px rgba(12, 24, 32, 0.2);
}

@media (min-width: 48em) {
  .subtitle {
    font-size: 1.5rem;
  }
}

@media (min-width: 64em) {
  .subtitle {
    margin: 0 0 6rem;
    font-size: 1.75rem;
  }
  .subtitle::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0%;
    background-color: #0c1820;
    height: 3px;
    width: 40px;
    -webkit-box-shadow: 2px 2px 4px rgba(12, 24, 32, 0.2);
            box-shadow: 2px 2px 4px rgba(12, 24, 32, 0.2);
  }
}

@media (min-width: 75em) {
  .subtitle {
    padding-bottom: 1.5rem;
    text-shadow: 2px 2px 4px rgba(12, 24, 32, 0.1);
    font-size: 1.5rem;
  }
  .subtitle::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0%;
    background-color: #0c1820;
    height: 2.5px;
    width: 40px;
    -webkit-box-shadow: 2px 2px 4px rgba(12, 24, 32, 0.2);
            box-shadow: 2px 2px 4px rgba(12, 24, 32, 0.2);
  }
}

.subtitle.light {
  color: #fefefe;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.2);
}

.subtitle.light::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0%;
  background-color: #fefefe;
  height: 2px;
  width: 32px;
  -webkit-box-shadow: 2px 2px 4px rgba(12, 24, 32, 0.2);
          box-shadow: 2px 2px 4px rgba(12, 24, 32, 0.2);
}

@media (min-width: 75em) {
  .subtitle.light {
    text-shadow: 2px 2px 4px rgba(12, 24, 32, 0.1);
  }
}

.services__grid__card {
  border-radius: 8px;
  padding: 2rem 4rem;
  -webkit-box-shadow: 0 3px 30px rgba(12, 24, 32, 0.07), 0 -3px 30px rgba(12, 24, 32, 0.07);
          box-shadow: 0 3px 30px rgba(12, 24, 32, 0.07), 0 -3px 30px rgba(12, 24, 32, 0.07);
  background-color: #fefefe;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (min-width: 64em) {
  .services__grid__card {
    -webkit-box-shadow: 0 3px 30px rgba(12, 24, 32, 0.04), 0 -3px 30px rgba(12, 24, 32, 0.04);
            box-shadow: 0 3px 30px rgba(12, 24, 32, 0.04), 0 -3px 30px rgba(12, 24, 32, 0.04);
  }
}

@media (min-width: 120em) {
  .services__grid__card {
    padding: 4rem 2rem;
  }
}

.services__grid__card:hover {
  -webkit-box-shadow: 0 3px 30px rgba(12, 24, 32, 0.07), 0 -3px 30px rgba(12, 24, 32, 0.07);
          box-shadow: 0 3px 30px rgba(12, 24, 32, 0.07), 0 -3px 30px rgba(12, 24, 32, 0.07);
}

.services__grid__card h1 {
  position: relative;
  margin: 0;
  font-family: "IBM Plex Sans";
  font-size: 1.1875rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.services__grid__card h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #432cb2;
  height: 2px;
  width: 30px;
  -webkit-box-shadow: 2px 2px 4px rgba(12, 24, 32, 0.2);
          box-shadow: 2px 2px 4px rgba(12, 24, 32, 0.2);
}

@media (min-width: 120em) {
  .services__grid__card h1 {
    font-size: 1.375rem;
  }
  .services__grid__card h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #432cb2;
    height: 2.5px;
    width: 30px;
    -webkit-box-shadow: 2px 2px 4px rgba(12, 24, 32, 0.2);
            box-shadow: 2px 2px 4px rgba(12, 24, 32, 0.2);
  }
}

.services__grid__card p {
  margin: 2.5rem 0 0;
  font-family: "Open Sans";
}

@media (min-width: 48em) {
  .services__grid__card p {
    font-size: 1.0625rem;
  }
}

@media (min-width: 75em) {
  .services__grid__card p {
    font-size: 1rem;
  }
}

@media (min-width: 120em) {
  .services__grid__card p {
    font-size: 1.125rem;
  }
}

.cars__grid__card {
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 40px rgba(97, 97, 97, 0.07), 0 -3px 40px rgba(97, 97, 97, 0.07);
          box-shadow: 0 3px 40px rgba(97, 97, 97, 0.07), 0 -3px 40px rgba(97, 97, 97, 0.07);
}

@media (min-width: 75em) {
  .cars__grid__card {
    -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 -6px 20px rgba(53, 53, 53, 0.1);
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 -6px 20px rgba(53, 53, 53, 0.1);
  }
}

.cars__grid__card img {
  height: 12.875rem;
  width: 100%;
}

@media (min-width: 75em) {
  .cars__grid__card img {
    height: 18.375rem;
  }
}

.cars__grid__card__info {
  padding: 1.25rem 1.5rem;
}

@media (min-width: 64em) {
  .cars__grid__card__info {
    padding: 1.75rem 2rem;
  }
}

.cars__grid__card p {
  color: #fefefe;
}

.cars__grid__card p b {
  font-weight: 600;
  font-size: 0.9375rem;
}

.cars__grid__card p:first-child {
  margin-top: 0;
}

.cars__grid__card p:nth-child(2) {
  margin-bottom: 1.25rem;
}

@media (min-width: 48em) {
  .cars__grid__card p {
    font-size: 1.0625rem;
  }
}

.cars__grid__card small {
  color: rgba(254, 254, 254, 0.53);
  font-style: italic;
}

@media (min-width: 48em) {
  .cars__grid__card small {
    font-size: 0.9375rem;
  }
}

.cars__grid__card button {
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  height: 1.625rem;
  width: 1.625rem;
}

.cars__grid__card button:focus {
  outline: none;
}

.cars__grid__card button .lines {
  position: absolute;
  width: 2px;
  height: 12px;
  background-color: #2cb28d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cars__grid__card button .lines:nth-child(1) {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cars__grid__card button .lines:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.cars__grid__card button .lines.minus:nth-child(1) {
  height: 0;
}

@media (min-width: 64em) {
  .cars__grid__card button .lines {
    height: 0.75rem;
  }
}

@media (min-width: 120em) {
  .cars__grid__card button .lines {
    height: 1rem;
  }
}

.cars__grid__card hr {
  margin: 3rem auto;
  background-color: #616161;
  height: 1px;
  width: 100%;
  border: none;
}

.cars__grid__card .hide {
  font-family: "Open Sans";
}

.cars__grid__card__large {
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 -6px 20px rgba(53, 53, 53, 0.1);
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 -6px 20px rgba(53, 53, 53, 0.1);
}

@media (min-width: 120em) {
  .cars__grid__card__large {
    -webkit-box-shadow: 0 6px 26px rgba(0, 0, 0, 0.4), 0 -6px 20px rgba(53, 53, 53, 0.2);
            box-shadow: 0 6px 26px rgba(0, 0, 0, 0.4), 0 -6px 20px rgba(53, 53, 53, 0.2);
  }
}

.cars__grid__card__large img {
  height: 12.875rem;
  width: 100%;
}

@media (min-width: 64em) {
  .cars__grid__card__large img {
    height: 16rem;
  }
}

@media (min-width: 75em) {
  .cars__grid__card__large img {
    height: 16.25rem;
  }
}

@media (min-width: 120em) {
  .cars__grid__card__large img {
    height: 18.3rem;
  }
}

.cars__grid__card__large__info {
  padding: 1.5rem 1.25rem;
}

@media (min-width: 64em) {
  .cars__grid__card__large__info {
    padding: 1.75rem 2rem;
  }
}

.cars__grid__card__large__info h3 {
  text-align: center;
  margin: 0 0 1.5rem;
  color: #fefefe;
}

@media (min-width: 64em) {
  .cars__grid__card__large__info h3 {
    margin: 0 0 2.5rem;
  }
}

@media (min-width: 75em) {
  .cars__grid__card__large__info h3 {
    text-align: left;
    font-weight: 500;
  }
}

.cars__grid__card__large__info p {
  color: #fefefe;
  margin: 0;
  margin-bottom: 1rem;
}

.cars__grid__card__large__info p b {
  font-weight: 600;
  font-size: 0.9375rem;
}

.cars__grid__card__large__info p#extra {
  margin-bottom: 2rem;
  line-height: 1.6;
}

.cars__grid__card__large__info p#extra b {
  color: #2cb28d;
}

@media (min-width: 48em) {
  .cars__grid__card__large__info p {
    font-size: 1.0625rem;
  }
}

@media (min-width: 75em) {
  .cars__grid__card__large__info p {
    font-size: 1rem;
  }
}

@media (min-width: 120em) {
  .cars__grid__card__large__info p {
    margin-bottom: 1.25rem;
  }
}

.cars__grid__card__large__info i {
  color: #fefefe;
  font-size: 1rem;
  margin-right: 1rem;
}

.cars__grid__card__large__info small {
  color: rgba(254, 254, 254, 0.53);
  font-style: italic;
}

@media (min-width: 48em) {
  .cars__grid__card__large__info small {
    font-size: 0.9375rem;
  }
}

.cars__grid__card__large__info hr {
  margin: 3rem auto;
  background-color: #616161;
  height: 1px;
  width: 100%;
  border: none;
}

.cars__grid__card__large__info .hide {
  font-family: "Open Sans";
}

.cars__grid__card__large button {
  position: absolute;
  left: 50%;
  bottom: calc(0% - (2.875rem));
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0.8rem 2rem;
  background-color: #2cb28d;
  border: none;
  border-radius: 10px;
  color: #fefefe;
  font-size: 1.125rem;
  -webkit-box-shadow: 0px 3px 20px rgba(44, 178, 141, 0.25);
          box-shadow: 0px 3px 20px rgba(44, 178, 141, 0.25);
}

.cars__grid__card__large button:focus {
  outline: none;
}

@media (min-width: 75em) {
  .cars__grid__card__large button {
    font-size: 1rem;
    -webkit-box-shadow: 0px 3px 20px rgba(44, 178, 141, 0.15);
            box-shadow: 0px 3px 20px rgba(44, 178, 141, 0.15);
  }
}

.testimonials__card {
  -webkit-box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-top: 3px solid #432cb2;
  padding: 2.125rem 2rem;
  margin: 0 2rem 3rem;
  height: 14.25rem;
  cursor: -webkit-grab;
  cursor: grab;
}

.testimonials__card ::-webkit-scrollbar {
  width: 2px;
  border-radius: 2px;
}

@media (min-width: 75em) {
  .testimonials__card ::-webkit-scrollbar {
    width: 4px;
  }
}

.testimonials__card ::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2px;
}

.testimonials__card ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.testimonials__card ::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

@media (min-width: 48em) {
  .testimonials__card {
    margin: 0 0.5rem 2rem;
  }
}

@media (min-width: 64em) {
  .testimonials__card {
    -webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
    padding: calc(calc(4.325rem / 2) + calc(3.125rem / 8)) 2rem 3.125rem;
  }
}

@media (min-width: 75em) {
  .testimonials__card {
    height: 16rem;
    padding: 0 2rem 2rem;
  }
}

@media (min-width: 120em) {
  .testimonials__card {
    padding: 0 2rem;
    height: 16.875rem;
  }
}

.testimonials__card:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.testimonials__card h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-family: "IBM Plex Sans";
  color: #2cb28d;
  font-style: italic;
  font-weight: 500;
  margin: 0 0 1rem;
}

@media (min-width: 75em) {
  .testimonials__card h3 {
    font-size: 1.0625rem;
    margin-top: 3rem;
  }
}

.testimonials__card h6 {
  text-align: center;
  font-weight: 400;
  font-size: 0.9375rem;
  font-family: "Open Sans";
  font-style: italic;
  color: rgba(12, 24, 32, 0.53);
  margin: 0 0 2rem;
}

.testimonials__card__text {
  max-height: 10.75rem;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
}

.testimonials__card__text p {
  letter-spacing: 0.3px;
  margin: 0;
  text-align: left;
  line-height: 1.6;
  font-size: 0.9375rem;
  padding-right: 10px;
}

@media (min-width: 75em) {
  .testimonials__card__text p {
    font-size: 1.0625rem;
  }
}

.overlay {
  width: 100%;
  height: 40vh;
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.55);
}

@media (min-width: 75em) {
  .overlay {
    height: 70vh;
  }
}

.home {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 40vh;
  background-color: #fefefe;
  background-position: 20% -50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/background.jpg");
}

@media (min-width: 75em) {
  .home {
    background-position: 50% 90%;
    height: 70vh;
  }
}

.home__info {
  position: absolute;
  top: 15%;
  padding: 0 1.625rem;
  color: #fefefe;
}

@media (min-width: 64em) {
  .home__info {
    padding: 0 10vw;
  }
}

@media (min-width: 75em) {
  .home__info {
    top: 60%;
    left: 0%;
  }
}

.home__info h3 {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  font-size: 1.375rem;
  color: #fefefe;
  line-height: 1.6;
  margin: 0 0 0.6rem;
}

@media (max-width: 667px) and (min-width: 375px) and (max-height: 667px) {
  .home__info h3 {
    font-size: 1.25rem;
  }
}

@media (min-width: 48em) {
  .home__info h3 {
    font-size: 1.625rem;
  }
}

@media (min-width: 64em) {
  .home__info h3 {
    font-size: 2.5rem;
  }
}

.home__info hr {
  width: 60px;
  height: 2px;
  background-color: #fefefe;
  border: none;
  margin: 2rem auto;
}

@media (min-width: 64em) {
  .home__info hr {
    height: 3px;
  }
}

.home__info p {
  margin: 0;
  font-size: 1.125rem;
  font-family: "Open Sans";
  color: #fefefe;
}

@media (min-width: 48em) {
  .home__info p {
    font-size: 1.375rem;
  }
}

@media (min-width: 64em) {
  .home__info p {
    font-size: 1.625rem;
  }
}

.home__info button {
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid #fefefe;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  color: #fefefe;
  padding: 12px 30px;
  cursor: pointer;
}

@media (min-width: 64em) {
  .home__info button {
    border: 1.5px solid #fefefe;
    margin-top: 2.5rem;
  }
}

.home__scroll_down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fefefe;
}

.home__scroll_down p {
  margin: 0 0 1rem;
  font-weight: 500;
}

.home__scroll_down i {
  -webkit-animation: up-down 2s infinite;
          animation: up-down 2s infinite;
}

.services {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 4rem 2rem;
}

@media (min-width: 48em) {
  .services {
    padding: 6rem 4rem;
  }
}

@media (min-width: 64em) {
  .services {
    padding: 8rem 6rem;
  }
}

@media (min-width: 75em) {
  .services {
    padding: 6rem 8vw 6rem;
  }
}

@media (min-width: 120em) {
  .services {
    padding: 10rem 10vw;
  }
}

.services__grid {
  row-gap: 3rem;
  width: 100%;
  height: 100%;
}

@media (min-width: 48em) {
  .services__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
}

@media (min-width: 64em) {
  .services__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

@media (min-width: 75em) {
  .services__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    row-gap: 5rem;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
}

@media (min-width: 120em) {
  .services__grid {
    -webkit-column-gap: 4vw;
            column-gap: 4vw;
  }
}

.cars {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 6rem 2rem;
  background-color: #0c1820;
}

@media (min-width: 48em) {
  .cars {
    padding: 6rem 4rem;
  }
}

@media (min-width: 64em) {
  .cars {
    padding: 8rem 6rem;
  }
}

@media (min-width: 120em) {
  .cars {
    padding: 10rem 12rem;
  }
}

.cars__grid {
  row-gap: 3rem;
}

@media (min-width: 48em) {
  .cars__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
}

@media (min-width: 64em) {
  .cars__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

@media (min-width: 75em) {
  .cars__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

@media (min-width: 120em) {
  .cars__grid {
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

.cars__grid__large {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

@media (min-width: 48em) {
  .cars__grid__large {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 6rem;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
}

@media (min-width: 75em) {
  .cars__grid__large {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

@media (min-width: 120em) {
  .cars__grid__large {
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
  }
}

.cars__button {
  margin: 3rem auto 0;
  padding: 1rem 2.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: 1px solid #fefefe;
  border-radius: 2px;
  color: #fefefe;
  font-family: "IBM Plex Sans";
  font-size: 1rem;
}

.testimonials {
  padding: 6rem 0;
  position: relative;
  z-index: 1;
}

@media (min-width: 48em) {
  .testimonials {
    padding: 6rem 4rem;
  }
}

@media (min-width: 64em) {
  .testimonials {
    padding: 8rem 6rem;
  }
}

@media (min-width: 120em) {
  .testimonials {
    padding: 10rem 12rem;
  }
}

.testimonials .subtitle {
  margin-left: 2rem;
}

@media (min-width: 48em) {
  .testimonials .subtitle {
    margin-left: 0;
  }
}

.testimonials .glide__track + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .glide__track + div button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fefefe;
  border: none;
  -webkit-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.05), -1px -1px 10px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.05), -1px -1px 10px 0px rgba(0, 0, 0, 0.05);
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.testimonials .glide__track + div button:focus {
  outline: none;
}

.testimonials .glide__track + div button:hover {
  -webkit-box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.08), -2px -2px 10px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.08), -2px -2px 10px 0px rgba(0, 0, 0, 0.08);
}

.testimonials .glide__track + div button:hover .left__arrow,
.testimonials .glide__track + div button:hover .right__arrow {
  fill: #432cb2;
}

.testimonials .glide__track + div button .left__arrow,
.testimonials .glide__track + div button .right__arrow {
  width: 20px;
  margin-top: 4px;
}

@media (min-width: 64em) {
  .testimonials .glide__track + div button .left__arrow,
  .testimonials .glide__track + div button .right__arrow {
    margin-top: 5px;
  }
}

@media (min-width: 48em) {
  .testimonials .glide__track + div button {
    margin: 1.875rem 1.25rem;
  }
}

@media (min-width: 64em) {
  .testimonials .glide__track + div button {
    margin: 1.875rem 10px;
  }
}

.map {
  padding: 6rem 2rem;
  position: relative;
  z-index: 1;
  background-color: #0c1820;
}

@media (min-width: 48em) {
  .map {
    padding: 6rem 4rem;
  }
}

@media (min-width: 64em) {
  .map {
    padding: 8rem 6rem;
  }
}

@media (min-width: 120em) {
  .map {
    padding: 10rem 12rem;
  }
}

.map h3 {
  color: rgba(254, 254, 254, 0.5);
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.6;
}

@media (min-width: 48em) {
  .map h3 {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
}

@media (min-width: 75em) {
  .map h3 {
    font-size: 1.0625rem;
  }
}

.map #map {
  margin: 2rem 0 0;
  height: 60vh;
}

@media (min-width: 64em) {
  .map #map {
    height: 40vh;
  }
}

@media (min-width: 75em) {
  .map #map {
    height: 60vh;
  }
}

.contacts {
  padding: 6rem 2rem;
}

@media (min-width: 48em) {
  .contacts {
    padding: 6rem 4rem;
  }
}

@media (min-width: 64em) {
  .contacts {
    padding: 8rem 6rem;
  }
}

@media (min-width: 120em) {
  .contacts {
    padding: 10rem 12rem;
  }
}

.contacts__grid {
  row-gap: 4rem;
}

@media (min-width: 64em) {
  .contacts__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 75em) {
  .contacts__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.contacts__grid__info {
  row-gap: 1.5rem;
}

.contacts__grid__info .grid {
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
}

.contacts__grid__info .grid i {
  margin: 0.2rem 2rem 0 0;
  font-size: 0.9375rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contacts__grid__info .grid i.fa-phone {
  margin-top: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 48em) {
  .contacts__grid__info .grid i {
    font-size: 1.0625rem;
  }
}

@media (min-width: 75em) {
  .contacts__grid__info .grid i {
    font-size: 0.9375rem;
  }
}

.contacts__grid__info .grid p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.contacts__grid__info .grid p:first-child {
  margin: 0;
}

@media (min-width: 48em) {
  .contacts__grid__info .grid p {
    font-size: 1.0625rem;
  }
}

@media (min-width: 75em) {
  .contacts__grid__info .grid p {
    font-size: 1rem;
  }
}

.contacts__grid form {
  width: 100%;
}

@media (min-width: 48em) {
  .contacts__grid form {
    width: 70%;
    margin: auto;
  }
}

@media (min-width: 64em) {
  .contacts__grid form {
    width: 100%;
    margin: 0;
  }
}

.contacts__grid form input,
.contacts__grid form textarea {
  width: 100%;
  padding: 0.85rem 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #0c1820;
  border-radius: 2px;
}

@media (min-width: 48em) {
  .contacts__grid form input,
  .contacts__grid form textarea {
    padding: 1rem 1.25rem;
    font-size: 1.0625rem;
  }
}

@media (min-width: 75em) {
  .contacts__grid form input,
  .contacts__grid form textarea {
    border: 0.5px solid #0c1820;
    font-size: 0.9375rem;
  }
}

.contacts__grid form #submit {
  background-color: #0c1820;
  border: none;
  color: #fefefe;
  font-weight: 500;
  padding: 1rem 1.25rem;
  font-family: "IBM Plex Sans";
  font-size: 1rem;
  cursor: pointer;
}

@media (min-width: 48em) {
  .contacts__grid form #submit {
    font-size: 1.125rem;
  }
}

@media (min-width: 75em) {
  .contacts__grid form #submit {
    font-size: 1.0625rem;
  }
}

.contacts__grid form ::-webkit-input-placeholder {
  color: #000000;
  font-family: "Open Sans";
}

.contacts__grid form :-ms-input-placeholder {
  color: #000000;
  font-family: "Open Sans";
}

.contacts__grid form ::-ms-input-placeholder {
  color: #000000;
  font-family: "Open Sans";
}

.contacts__grid form ::placeholder {
  color: #000000;
  font-family: "Open Sans";
}

.cars_catalog {
  padding: 4rem 2rem;
}

@media (min-width: 48em) {
  .cars_catalog {
    padding: 6rem 4rem;
  }
}

@media (min-width: 64em) {
  .cars_catalog {
    padding: 8rem 6rem;
  }
}

@media (min-width: 75em) {
  .cars_catalog {
    padding: 6rem 8vw 6rem;
  }
}

@media (min-width: 120em) {
  .cars_catalog {
    padding: 10rem 10vw;
  }
}

.cars_catalog__title {
  margin: 0 0 4rem;
  font-family: "IBM Plex Sans";
  font-size: 1.375rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(12, 24, 32, 0.2);
}

@media (min-width: 75em) {
  .cars_catalog__title {
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(12, 24, 32, 0.07);
    margin: 0 0 6rem;
  }
}

.cars_catalog__filters {
  margin-bottom: 2rem;
}

@media (min-width: 75em) {
  .cars_catalog__filters {
    margin-bottom: 3rem;
  }
}

.cars_catalog__filters input {
  padding: 0.6rem 1.25rem;
  width: 60%;
  margin-right: 1rem;
  border-radius: 2px;
  border: 1px solid #616161;
}

.cars_catalog__filters input:focus {
  border: 1px solid #616161;
  outline: none;
}

@media (min-width: 48em) {
  .cars_catalog__filters input {
    width: 20%;
    margin-right: 2rem;
  }
}

@media (min-width: 75em) {
  .cars_catalog__filters input {
    padding: 0.8rem 1.25rem;
  }
}

@media (min-width: 120em) {
  .cars_catalog__filters input {
    width: 14%;
  }
}

.cars_catalog__filters ::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-size: 0.8125rem;
}

.cars_catalog__filters :-ms-input-placeholder {
  font-family: "Open Sans";
  font-size: 0.8125rem;
}

.cars_catalog__filters ::-ms-input-placeholder {
  font-family: "Open Sans";
  font-size: 0.8125rem;
}

.cars_catalog__filters ::placeholder {
  font-family: "Open Sans";
  font-size: 0.8125rem;
}

@media (min-width: 75em) {
  .cars_catalog__filters ::-webkit-input-placeholder {
    font-size: 0.9375rem;
  }
  .cars_catalog__filters :-ms-input-placeholder {
    font-size: 0.9375rem;
  }
  .cars_catalog__filters ::-ms-input-placeholder {
    font-size: 0.9375rem;
  }
  .cars_catalog__filters ::placeholder {
    font-size: 0.9375rem;
  }
}

.cars_catalog__filters button {
  background-color: transparent;
  border: none;
  line-height: 1.6;
  white-space: nowrap;
  font-size: 0.875rem;
  font-family: "Open Sans";
  cursor: pointer;
}

.cars_catalog__filters button:hover {
  color: #432cb2;
}

.cars_catalog__filters button:focus {
  outline: none;
}

@media (min-width: 75em) {
  .cars_catalog__filters button {
    font-size: 1rem;
  }
}

.cars_catalog__grid {
  row-gap: 2rem;
}

@media (min-width: 48em) {
  .cars_catalog__grid {
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 4rem;
  }
}

@media (min-width: 75em) {
  .cars_catalog__grid {
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 4rem;
  }
}

.cars_catalog__grid__card {
  -webkit-box-shadow: 0 3px 40px rgba(97, 97, 97, 0.07), 0 -3px 40px rgba(97, 97, 97, 0.07);
          box-shadow: 0 3px 40px rgba(97, 97, 97, 0.07), 0 -3px 40px rgba(97, 97, 97, 0.07);
}

@media (min-width: 48em) {
  .cars_catalog__grid__card {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 75em) {
  .cars_catalog__grid__card {
    padding: 2rem 0 0;
    width: 80%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-top: 1px solid rgba(97, 97, 97, 0.3);
  }
}

.cars_catalog__grid__card img {
  height: 12.875rem;
  width: 100%;
}

@media (min-width: 48em) {
  .cars_catalog__grid__card img {
    height: 15.35rem;
  }
}

@media (min-width: 64em) {
  .cars_catalog__grid__card img {
    height: 18.5rem;
  }
}

@media (min-width: 75em) {
  .cars_catalog__grid__card img {
    height: auto;
  }
}

@media (min-width: 120em) {
  .cars_catalog__grid__card img {
    height: 25rem;
  }
}

.cars_catalog__grid__card__info {
  padding: 1.25rem 1rem;
}

@media (min-width: 48em) {
  .cars_catalog__grid__card__info {
    padding: 0 0 0 1.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (min-width: 64em) {
  .cars_catalog__grid__card__info {
    padding: 1.75rem 2rem;
  }
}

@media (min-width: 75em) {
  .cars_catalog__grid__card__info {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media (min-width: 120em) {
  .cars_catalog__grid__card__info {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.cars_catalog__grid__card__info h2 {
  margin-top: 0;
  font-size: 1.375rem;
}

.cars_catalog__grid__card__info h2:last-child {
  color: #2cb28d;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(44, 178, 141, 0.075);
}

@media (min-width: 120em) {
  .cars_catalog__grid__card__info h2 {
    font-size: 1.5rem;
  }
}

.cars_catalog__grid__card__info p,
.cars_catalog__grid__card__info a {
  color: #000000;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 0.9375rem;
}

.cars_catalog__grid__card__info p b,
.cars_catalog__grid__card__info a b {
  font-weight: 600;
  font-size: 0.9375rem;
}

@media (min-width: 120em) {
  .cars_catalog__grid__card__info p b,
  .cars_catalog__grid__card__info a b {
    margin-bottom: 1.25rem;
    font-size: 1.1875rem;
  }
}

.cars_catalog__grid__card__info p#extra,
.cars_catalog__grid__card__info a#extra {
  line-height: 1.6;
}

.cars_catalog__grid__card__info p#extra b,
.cars_catalog__grid__card__info a#extra b {
  color: #2cb28d;
}

@media (min-width: 48em) {
  .cars_catalog__grid__card__info p,
  .cars_catalog__grid__card__info a {
    font-size: 1.0625rem;
  }
}

@media (min-width: 75em) {
  .cars_catalog__grid__card__info p,
  .cars_catalog__grid__card__info a {
    font-size: 1rem;
  }
}

@media (min-width: 120em) {
  .cars_catalog__grid__card__info p,
  .cars_catalog__grid__card__info a {
    margin-bottom: 1.25rem;
    font-size: 1.1875rem;
  }
}

.cars_catalog__grid__card__info p i,
.cars_catalog__grid__card__info a i {
  color: #000000;
  font-size: 0.9375rem;
  margin-right: 0.45rem;
}

.cars_catalog__grid__card__info__details {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 48em) {
  .cars_catalog__grid__card__info__details {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

@media (min-width: 75em) {
  .cars_catalog__grid__card__info__details {
    margin-bottom: 2rem;
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 0;
  }
}

.cars_catalog__grid__card__info__details h4 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  margin-bottom: 0.4rem;
  font-family: "IBM Plex Sans";
}

@media (min-width: 120em) {
  .cars_catalog__grid__card__info__details h4 {
    font-size: 1.0625rem;
  }
}

.cars_catalog__grid__card__info__details p,
.cars_catalog__grid__card__info__details a {
  margin: 0;
  font-family: "Open Sans";
}

.cars_catalog__grid__card__info__details p:nth-child(2),
.cars_catalog__grid__card__info__details a:nth-child(4) {
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (min-width: 48em) {
  .cars_catalog__grid__card__info__details p:nth-child(2),
  .cars_catalog__grid__card__info__details a:nth-child(4) {
    -ms-grid-column-align: normal;
        justify-self: normal;
  }
}
/*# sourceMappingURL=style.css.map */