@-webkit-keyframes up-down {
  0%,
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  50% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}

@keyframes up-down {
  0%,
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  50% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: "IBM Plex Sans";
  font-size: 1rem;
  line-height: 1.4;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.scene,
canvas {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -5;
}

.header {
  width: 100%;
  padding: 1rem 1.625rem;
  position: fixed;
  top: 0;
  z-index: 999;
}

@media (min-width: 48em) {
  .header {
    padding: 2rem 2.625rem;
  }
}

@media (min-width: 75em) {
  .header {
    padding: 1.5rem 4rem;
  }
}

.header img {
  width: 60px;
}

.header__title {
  font-size: 1.0625rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0;
}

@media (max-width: 23.375em) {
  .header__title {
    font-size: 1rem;
  }
}

.header__title.change__color {
  color: #ffffff;
}

.header__hamburger {
  width: 1.875rem;
  height: 1.125rem;
  position: relative;
}

.header__hamburger__lines {
  height: 2.5px;
  background-color: #ffffff;
  position: absolute;
  z-index: 999;
  right: 0%;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: -0.5px center;
          transform-origin: -0.5px center;
}

@media (max-width: 23.375em) {
  .header__hamburger__lines {
    height: 2px;
  }
}

.header__hamburger__lines.open {
  background-color: #ffffff;
  -webkit-transform-origin: -2.5px center;
          transform-origin: -2.5px center;
}

.header__hamburger__lines:nth-child(1).open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__hamburger__lines:nth-child(1), .header__hamburger__lines:nth-child(3) {
  width: 1.5rem;
}

.header__hamburger__lines:nth-child(1).open, .header__hamburger__lines:nth-child(3).open {
  height: 2.5px;
  width: 1.25rem;
}

@media (max-width: 23.375em) {
  .header__hamburger__lines:nth-child(1).open, .header__hamburger__lines:nth-child(3).open {
    height: 2px;
  }
}

.header__hamburger__lines:nth-child(2) {
  top: 50%;
  width: 1.875rem;
}

.header__hamburger__lines:nth-child(2).open {
  opacity: 0;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}

.header__hamburger__lines:nth-child(3) {
  top: 100%;
}

.header__hamburger__lines:nth-child(3).open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__mobile__menu {
  padding: 8rem 0 1.625rem;
  background-color: #0c1820;
  color: #ffffff;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  right: -100%;
  top: 0%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 23.375em) {
  .header__mobile__menu {
    padding: 6.75rem 0 1.625rem;
  }
}

@media (min-width: 48em) {
  .header__mobile__menu {
    padding: 12rem 0 2.625rem;
  }
}

.header__mobile__menu.open__overlay {
  right: 0%;
}

.header__mobile__menu__links {
  padding: 0 1.625rem;
}

@media (min-width: 48em) {
  .header__mobile__menu__links {
    padding: 0 2.625rem;
  }
}

.header__mobile__menu__links__topics h5 {
  font-size: 0.9375rem;
  margin-right: 1.875rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: 400;
  color: #2cb28d;
}

@media (max-width: 23.375em) {
  .header__mobile__menu__links__topics h5 {
    margin: 0.75rem 1.875rem 0.75rem 0;
  }
}

.header__mobile__menu__links__topics h3 {
  font-weight: 500;
  font-size: 1.25rem;
}

@media (max-width: 23.375em) {
  .header__mobile__menu__links__topics h3 {
    font-size: 1.125rem;
    margin: 0.75rem 0;
  }
}

.header__mobile__menu__extra {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.header__mobile__menu__extra__socials__line {
  width: 42px;
  height: 2px;
  border: none;
  background-color: #2cb28d;
  margin-right: 1.875rem;
}

.header__mobile__menu__extra__socials h3 {
  font-size: 1.0625rem;
  font-weight: 500;
}

@media (max-width: 23.375em) {
  .header__mobile__menu__extra__socials h3 {
    font-size: 0.9375rem;
  }
}

.header__mobile__menu__extra__socials h3:first-of-type {
  margin-right: 1.875rem;
}

.header__mobile__menu__extra__policy p {
  margin: 2.125rem 0;
  font-family: "Open Sans";
  font-size: 0.8125rem;
  color: #d8d8d8;
}

@media (max-width: 23.375em) {
  .header__mobile__menu__extra__policy p {
    margin: 1.875rem 0;
  }
}

.header__desktop {
  width: 100%;
}

.header__desktop__links {
  margin: 0 0 0 2rem;
  cursor: pointer;
}

.header__desktop__links h5 {
  font-size: 0.9375rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: 400;
  color: #2cb28d;
}

@media (max-width: 23.375em) {
  .header__desktop__links h5 {
    margin: 0.75rem 1.875rem 0.75rem 0;
  }
}

.header__desktop__links h3 {
  font-weight: 400;
  font-size: 1.125rem;
  color: #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.75);
  padding: 0 2rem;
  margin: 0;
}

.header__desktop__links h3#no_border {
  border-right: none !important;
  padding-right: 0;
}

@media (max-width: 23.375em) {
  .header__desktop__links h3 {
    font-size: 1.125rem;
    margin: 0.75rem 0;
  }
}

@keyframes up-down {
  0%,
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  50% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}

.services__grid__card {
  border-radius: 8px;
  padding: 2rem 4rem;
  -webkit-box-shadow: 0 3px 30px rgba(12, 24, 32, 0.07), 0 -3px 30px rgba(12, 24, 32, 0.07);
          box-shadow: 0 3px 30px rgba(12, 24, 32, 0.07), 0 -3px 30px rgba(12, 24, 32, 0.07);
  background-color: #ffffff;
  text-align: center;
}

@media (min-width: 64em) {
  .services__grid__card {
    -webkit-box-shadow: 0 3px 30px rgba(12, 24, 32, 0.04), 0 -3px 30px rgba(12, 24, 32, 0.04);
            box-shadow: 0 3px 30px rgba(12, 24, 32, 0.04), 0 -3px 30px rgba(12, 24, 32, 0.04);
  }
}

.services__grid__card h1 {
  position: relative;
  margin: 0;
  font-family: "IBM Plex Sans";
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.services__grid__card h1::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #432cb2;
  height: 2px;
  width: 40px;
}

.services__grid__card p {
  margin: 2.5rem 0 0;
  font-family: "Open Sans";
}

.cars__grid__card {
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 40px rgba(97, 97, 97, 0.07), 0 -3px 40px rgba(97, 97, 97, 0.07);
          box-shadow: 0 3px 40px rgba(97, 97, 97, 0.07), 0 -3px 40px rgba(97, 97, 97, 0.07);
}

.cars__grid__card img {
  height: 12.875rem;
  width: 100%;
}

.cars__grid__card__info {
  padding: 1.25rem 1.125rem;
}

.cars__grid__card p {
  color: #ffffff;
}

.cars__grid__card p b {
  font-weight: 600;
  font-size: 0.9375rem;
}

.cars__grid__card p:first-child {
  margin-top: 0;
}

.cars__grid__card small {
  color: rgba(255, 255, 255, 0.53);
  font-style: italic;
}

.cars__grid__card button {
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  height: 1.625rem;
  width: 1.625rem;
}

.cars__grid__card button:focus {
  outline: none;
}

.cars__grid__card button .lines {
  position: absolute;
  width: 2px;
  height: 12px;
  background-color: #2cb28d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cars__grid__card button .lines:nth-child(1) {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cars__grid__card button .lines:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.cars__grid__card button .lines.minus:nth-child(1) {
  height: 0;
}

@media (min-width: 64em) {
  .cars__grid__card button .lines {
    height: 0.75rem;
  }
}

@media (min-width: 120em) {
  .cars__grid__card button .lines {
    height: 1rem;
  }
}

.cars__grid__card hr {
  background-color: #616161;
  height: 1.5px;
  width: 100%;
  border: none;
}

.cars__grid__card .hide {
  margin-top: 3rem;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.25);
}

.home {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

@media (min-width: 64em) {
  .home {
    display: block;
  }
}

.home__info {
  padding: calc(10.1875rem + 2vw) 2rem;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 64em) {
  .home__info {
    padding: calc(12.1875rem + 2vw) 10vw;
    display: block;
  }
}

.home__info h3 {
  font-family: "IBM Plex Sans";
  font-weight: 500;
  font-size: 1.875rem;
  margin: 0;
}

@media (min-width: 64em) {
  .home__info h3 {
    font-size: 5.625rem;
  }
}

.home__info hr {
  width: 60px;
  height: 2px;
  background-color: #ffffff;
  border: none;
  margin: 2rem auto;
}

@media (min-width: 64em) {
  .home__info hr {
    height: 3px;
  }
}

.home__info p {
  margin: 0;
  font-size: 1.125rem;
  font-family: "Open Sans";
  color: #ffffff;
}

@media (min-width: 64em) {
  .home__info p {
    font-size: 2.5rem;
  }
}

.home__info button {
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  padding: 12px 30px;
  cursor: pointer;
}

@media (min-width: 64em) {
  .home__info button {
    border: 1.5px solid #ffffff;
    margin-top: 2.5rem;
  }
}

.home__scroll_down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
}

.home__scroll_down p {
  margin: 0 0 1rem;
  font-weight: 500;
}

.home__scroll_down i {
  -webkit-animation: up-down 2s infinite;
          animation: up-down 2s infinite;
}

.services {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 6rem 2rem;
}

@media (min-width: 48em) {
  .services {
    padding: 6rem 4rem;
  }
}

@media (min-width: 64em) {
  .services {
    padding: 8rem 6rem;
  }
}

@media (min-width: 120em) {
  .services {
    padding: 10rem 12rem;
  }
}

.services__grid {
  row-gap: 3rem;
  width: 100%;
  height: 100%;
}

@media (min-width: 48em) {
  .services__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
}

@media (min-width: 64em) {
  .services__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 75em) {
  .services__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

@media (min-width: 120em) {
  .services__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

.cars {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 6rem 2rem;
  background-color: #0c1820;
}

@media (min-width: 48em) {
  .cars {
    padding: 6rem 4rem;
  }
}

@media (min-width: 64em) {
  .cars {
    padding: 8rem 6rem;
  }
}

@media (min-width: 120em) {
  .cars {
    padding: 10rem 12rem;
  }
}

.cars__grid {
  row-gap: 3rem;
}

@media (min-width: 48em) {
  .cars__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
}

@media (min-width: 64em) {
  .cars__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 75em) {
  .cars__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

@media (min-width: 120em) {
  .cars__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */