.admin_navbar {
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 0%;
  left: 0%;

  padding: 1rem 1.625rem;
  background-color: $dark;

  box-shadow: 0px -2px 10px rgba($color: $black, $alpha: 0.05);

  a {
    color: $white;

    h3 {
      margin: 0;
      font-size: $_16px;

      font-weight: 600;
    }
  }
}
