.buttons {
  position: fixed;
  z-index: 500;
  right: 5%;
  bottom: 3%;

  @include breakpoint-up(desktop) {
    right: 4%;
    bottom: 10%;
  }

  a {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $lightGrey;

    color: $black;

    box-shadow: 0px 3px 10px rgba($color: $grey, $alpha: 0.15),
      0px -3px 10px rgba($color: $grey, $alpha: 0.15);

    @include breakpoint-up(tablet) {
      width: 50px;
      height: 50px;
    }

    @include breakpoint-up(desktop) {
      box-shadow: 0px 3px 10px rgba($color: $grey, $alpha: 0.075),
        0px -3px 10px rgba($color: $grey, $alpha: 0.075);
      background-color: rgba($color: $lightGrey, $alpha: 0.5);
    }

    @include breakpoint-up(large) {
      width: 60px;
      height: 60px;
      font-size: $_17px;
    }

    &:first-child {
      margin-bottom: 1rem;

      @include breakpoint-up(tablet) {
        margin-bottom: 2rem;
      }
    }

    &:hover {
      background-color: $purple;
      color: $white;
    }
  }
}
