footer {
  padding: 2rem;
  background-color: $dark;

  text-align: center;

  p {
    color: $white;
    font-family: $ibm;
    margin: 0 0 1.125rem;

    a {
      color: $white;
    }
  }

  small {
    color: rgba($color: $white, $alpha: 0.5);
  }
}
