footer {
  padding: 2rem;
  background-color: $dark;

  text-align: center;

  p {
    color: $white;
    font-family: $ibm;
    margin: 0 0 1.125rem;

    a {
      color: $white;
    }

    @include breakpoint-up(tablet) {
      font-size: $_17px;
    }
  }

  small {
    color: rgba($color: $white, $alpha: 0.5);

    @include breakpoint-up(tablet) {
      padding: 1rem 1.25rem 0;
      font-size: $_15px;
    }

    @include breakpoint-up(desktop) {
      padding: 0;
    }
  }
}
