.services__grid__card {
  border-radius: 8px;
  padding: 2rem 4rem;
  box-shadow: 0 3px 30px rgba($color: $dark, $alpha: 0.07),
    0 -3px 30px rgba($color: $dark, $alpha: 0.07);
  background-color: $white;

  text-align: center;

  @include breakpoint-up(iPadPro) {
    box-shadow: 0 3px 30px rgba($color: $dark, $alpha: 0.04),
      0 -3px 30px rgba($color: $dark, $alpha: 0.04);
  }

  transition: all 0.4s ease;

  &:hover {
    box-shadow: 0 3px 30px rgba($color: $dark, $alpha: 0.07),
      0 -3px 30px rgba($color: $dark, $alpha: 0.07);
  }

  h1 {
    position: relative;
    margin: 0;

    font-family: $ibm;
    font-size: $_19px;
    font-weight: 600;

    padding-bottom: 1rem;

    @include pseudo-center(after, $purple, 2px, 30px);
  }

  p {
    margin: 2.5rem 0 0;
    font-family: $openSans;

    @include breakpoint-up(tablet) {
      font-size: $_17px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_16px;
    }
  }
}
