.testimonials__card {
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-top: 3px solid $purple;
  padding: calc(calc(4.325rem / 2) + calc(3.125rem / 8)) 1.25rem 3.125rem;
  margin: 0 2rem 3rem;

  height: 16.875rem;
  ::-webkit-scrollbar {
    width: 2px;
    border-radius: 2px;

    @include breakpoint-up(desktop) {
      width: 4px;
    }
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba($color: $black, $alpha: 0.2);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba($color: $black, $alpha: 0.2);
  }

  @include breakpoint-up(tablet) {
    margin: 0 0.5rem 2rem;
  }

  @include breakpoint-up(iPadPro) {
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
    padding: calc(calc(4.325rem / 2) + calc(3.125rem / 8)) 2rem 3.125rem;
  }

  @include breakpoint-up(desktop) {
    margin: 0 2rem 2rem;
    height: 20.875rem;
  }

  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  h3 {
    text-align: center;
    font-size: $_15px;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: $ibm;
    color: $green;
    font-style: italic;

    font-weight: 500;

    margin: 1.25rem 0 1rem;

    @include breakpoint-up(desktop) {
      font-size: $_17px;
      margin-top: 3rem;
    }
  }

  h6 {
    text-align: center;
    font-weight: 400;
    font-size: $_15px;

    font-family: $openSans;
    font-style: italic;
    color: rgba($color: $dark, $alpha: 0.53);

    margin: 0;
  }

  &__text {
    height: 100px;
    max-height: 7.75rem;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;

    @include breakpoint-up(desktop) {
      height: 18.75rem;
      max-height: 9rem;
    }

    p {
      letter-spacing: 0.3px;
      margin: 0;
      text-align: center;
      line-height: 1.6;

      @include breakpoint-up(desktop) {
        text-align: left;
        font-size: $_17px;
      }
    }
  }
}
